## Text summarization

### data loading

In [24]:
import pandas as pd
import numpy as np
from datasets import Dataset

In [2]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [3]:
df.shape

(4514, 6)

In [5]:
df.drop(['author', 'date', 'read_more'], axis = 1, inplace = True)
df.head()

,headlines,text,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [9]:
print(f"{len(df['headlines'][0])} :: {len(df['text'][0])} :: {len(df['ctext'][0])}")

60 :: 358 :: 2313

In [10]:
df.drop('ctext', axis = 1, inplace = True)

In [11]:
df.head()

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...

### spliting the training and test data

In [13]:
df_train = df.head(3500)

In [14]:
df_train

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...
...,...,...
3495,MP govt decides to grant living entity status ...,The Madhya Pradesh Cabinet on Tuesday decided ...
3496,We are hopeful we?ll convince Vishwas: Kejriwal,"Amid the ongoing rift in the Aam Aadmi Party, ..."
3497,K'taka BJP MLC sends porn stars' pics to media...,BJP MLC Mahantesh Kavatagimath from Karnataka ...
3498,PM Modi inaugurates Patanjali Research Institu...,Prime Minister Narendra Modi on Wednesday inau...
3499,"Don?t waste time, no vacancy for PM post till ...","Union Minister Ram Vilas Paswan, whose party L..."

In [ ]:
df_test = df.tail(1014)

In [18]:
df_test

,headlines,text
3500,Pak Army chief Bajwa authorised ambush on LoC:...,Pakistani Army Chief General Qamar Javed Bajwa...
3501,Lightning strike kills man during football match,"A 20-year-old man, Rajat Barla, died after bei..."
3502,Withdrawal from ICC CT not in India's best int...,The Supreme Court-appointed Committee of Admin...
3503,Kumar Vishwas's comments will benefit 'other p...,Delhi Deputy CM Manish Sisodia slammed Kumar V...
3504,SC raps Bihar govt for seeking 2 years to fill...,The Supreme Court on Tuesday rebuked the Bihar...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,Fruit juice concentrate maker Rasna is eyeing ...
4510,Sachin attends Rajya Sabha after questions on ...,Former Indian cricketer Sachin Tendulkar atten...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, while talking about reality shows ..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",The Maharashtra government has initiated an in...
4513,More than half of India's languages may die in...,At least 400 languages or more than half langu...

In [25]:
df_train = Dataset.from_pandas(df_train)
df_test = Dataset.from_pandas(df_test)

In [37]:
test_data = df.tail(1014)
train_data = df.head(3500)

In [38]:
train_data

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...
...,...,...
3495,MP govt decides to grant living entity status ...,The Madhya Pradesh Cabinet on Tuesday decided ...
3496,We are hopeful we?ll convince Vishwas: Kejriwal,"Amid the ongoing rift in the Aam Aadmi Party, ..."
3497,K'taka BJP MLC sends porn stars' pics to media...,BJP MLC Mahantesh Kavatagimath from Karnataka ...
3498,PM Modi inaugurates Patanjali Research Institu...,Prime Minister Narendra Modi on Wednesday inau...
3499,"Don?t waste time, no vacancy for PM post till ...","Union Minister Ram Vilas Paswan, whose party L..."

In [39]:
test_data

,headlines,text
3500,Pak Army chief Bajwa authorised ambush on LoC:...,Pakistani Army Chief General Qamar Javed Bajwa...
3501,Lightning strike kills man during football match,"A 20-year-old man, Rajat Barla, died after bei..."
3502,Withdrawal from ICC CT not in India's best int...,The Supreme Court-appointed Committee of Admin...
3503,Kumar Vishwas's comments will benefit 'other p...,Delhi Deputy CM Manish Sisodia slammed Kumar V...
3504,SC raps Bihar govt for seeking 2 years to fill...,The Supreme Court on Tuesday rebuked the Bihar...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,Fruit juice concentrate maker Rasna is eyeing ...
4510,Sachin attends Rajya Sabha after questions on ...,Former Indian cricketer Sachin Tendulkar atten...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, while talking about reality shows ..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",The Maharashtra government has initiated an in...
4513,More than half of India's languages may die in...,At least 400 languages or more than half langu...

### loading the model

In [19]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM, TrainingArguments, Trainer, DataCollatorForSeq2Seq

In [20]:
model_name = 'facebook/bart-base'
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSeq2SeqLM.from_pretrained(model_name)

c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\lenovo\.cache\huggingface\hub\models--facebook--bart-base. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

In [21]:
max_input_length = 512
max_target_length = 90

In [22]:
def preprocessor(data) : 
    model_inputs = tokenizer(
        data['text'], max_length = max_input_length, truncation = True
    )
    labels = tokenizer(
        data['headlines'], max_length = max_target_length, truncation = True
    )

    model_inputs['labels'] = labels['input_ids']

    return model_inputs

In [26]:
tokenized_train = df_train.map(preprocessor, batched = True)
tokenized_test = df_test.map(preprocessor, batched = True)

Map: 100%|██████████| 3500/3500 [00:00<00:00, 10305.61 examples/s]
Map: 100%|██████████| 1014/1014 [00:00<00:00, 11630.49 examples/s]

### training arguments and model training

In [29]:
data_collector = DataCollatorForSeq2Seq(tokenizer, model = model)

In [32]:
training_args = TrainingArguments(
    output_dir = './results',
    eval_strategy = 'epoch',
    learning_rate = 2e-5,
    per_device_eval_batch_size = 64,
    per_device_train_batch_size = 64,
    weight_decay = 0.01,
    save_total_limit = 2,
    num_train_epochs = 1,
    do_predict = True,
    logging_dir = './logs'
)

In [33]:
trainer = Trainer(
    args = training_args,
    model = model,
    eval_dataset = tokenized_test,
    train_dataset = tokenized_train,
    tokenizer = tokenizer,
    data_collator = data_collector
)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_25776\1046009459.py:1: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

In [34]:
trainer.train()

c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\transformers\modeling_utils.py:4034: UserWarning: Moving the following attributes in the config to the generation config: {'early_stopping': True, 'num_beams': 4, 'no_repeat_ngram_size': 3, 'forced_bos_token_id': 0}. You are seeing this warning because you've set generation parameters in the model config, as opposed to in the generation config.
  warnings.warn(
c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\torch\utils\data\dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

TrainOutput(global_step=55, training_loss=1.9047597711736506, metrics={'train_runtime': 841.7577, 'train_samples_per_second': 4.158, 'train_steps_per_second': 0.065, 'total_flos': 210995014164480.0, 'train_loss': 1.9047597711736506, 'epoch': 1.0})

### model outputs and evaluation

In [47]:
sample_text = test_data['text'][4000]

inputs = tokenizer([sample_text], return_tensors="pt", truncation=True, max_length=512)
summary_ids = model.generate(inputs["input_ids"], max_length=50, min_length=10, length_penalty=2.0)

print("Generated summary:", tokenizer.decode(summary_ids[0], skip_special_tokens=True))
print("Reference summary:", test_data['headlines'][4000])

Generated summary: Bob Dylan to receive Nobel Prize in person in Stockholm
Reference summary: Bob Dylan to receive his Nobel Prize in Stockholm