## Text summarization

### initial data loading

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [5]:
df.shape

(4514, 6)

### cleaning the data

In [7]:
for i in range(0, 10) : 
    print(f"{len(df['text'][i])} :: {len(df['headlines'][i])}")
    print('-'*40)

358 :: 60
----------------------------------------
361 :: 60
----------------------------------------
398 :: 52
----------------------------------------
368 :: 56
----------------------------------------
366 :: 60
----------------------------------------
347 :: 60
----------------------------------------
361 :: 59
----------------------------------------
331 :: 60
----------------------------------------
370 :: 59
----------------------------------------
311 :: 48
----------------------------------------

In [8]:
df.drop(['author', 'date', 'read_more', 'ctext'], axis = 1, inplace = True)
df.head()

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...

In [9]:
df.isnull().sum()

headlines    0
text         0
dtype: int64

In [10]:
df.shape

(4514, 2)

### splititng the data

In [11]:
df_train = df.head(3000)

In [13]:
df_train

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...
...,...,...
2995,"Over 1,500 Delhi children reported missing til...","According to police figures, over 1,500 childr..."
2996,Not responsible for women's safety after work:...,"Bengaluru firm IDC Technologies, located in Ma..."
2997,Indo-American Founder of health startup become...,"Rishi Shah, the Indian-American Founder of hea..."
2998,"Man ate metal, blades during yoga, thought he'...",A 52-year-old man from Delhi ate two metal pla...
2999,"After fuel, govt planning daily CNG price revi...",The government is reportedly contemplating dai...

In [12]:
df_eval = df.iloc[3001:4001, :]
df_eval

,headlines,text
3001,Defence Ministry scraps ?6500 crore Navy chopp...,"The Defence Ministry has scrapped a ?6,500-cro..."
3002,"St Stephen's bar highest for Eng, Eco at 98.5%...",Delhi University's St Stephen's on Thursday re...
3003,Man who lost 150 elections files nomination f...,A man from Tamil Nadu who features in the Limc...
3004,Man throws his pet puppy from balcony for drop...,A Gurugram man flung his 4-month-old puppy fro...
3005,AAP fined ?27L for 'unauthorised occupation' o...,The Public Works Department of Delhi governmen...
...,...,...
3996,Out of shape personnel will miss out on promot...,"In order to check obesity in the force, the In..."
3997,Salman's nephew Ahil's 1st birthday celebrated...,Salman Khan's sister Arpita Khan Sharma shared...
3998,Use of astrologers for poll results a violatio...,The Election Commission on Thursday ruled that...
3999,"Messi denies abusing officials, says he was ye...",After being hit with a four-match ban by FIFA ...
4000,Bob Dylan to receive his Nobel Prize in Stockh...,Singer-songwriter Bob Dylan will receive his N...

In [14]:
df_test = df.tail(513)
df_test

,headlines,text
4001,Virat Kohli receives Padma Shri at Rashtrapati...,Indian cricket captain Virat Kohli was conferr...
4002,Govt to seek info on deposits during note ban ...,The government will seek data on deposits made...
4003,Stamping of hand baggage to end at 7 airports ...,The stamping of hand baggage will be stopped a...
4004,"Auto industry stuck with vehicles of ?20,000 c...",Following Supreme Court's ban on vehicles with...
4005,"Mera Naam Joker, Sangam last films to be scree...",Late actor Raj Kapoor's 'Mera Naam Joker' and ...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,Fruit juice concentrate maker Rasna is eyeing ...
4510,Sachin attends Rajya Sabha after questions on ...,Former Indian cricketer Sachin Tendulkar atten...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, while talking about reality shows ..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",The Maharashtra government has initiated an in...
4513,More than half of India's languages may die in...,At least 400 languages or more than half langu...

In [15]:
from datasets import Dataset
df_train = Dataset.from_pandas(df_train)
df_test = Dataset.from_pandas(df_test)
df_eval = Dataset.from_pandas(df_eval)

c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [16]:
df_train

Dataset({
    features: ['headlines', 'text'],
    num_rows: 3000
})

In [17]:
df_test

Dataset({
    features: ['headlines', 'text'],
    num_rows: 513
})

In [18]:
df_eval

Dataset({
    features: ['headlines', 'text'],
    num_rows: 1000
})

### model import and tokenization

In [19]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM, Trainer, TrainingArguments, DataCollatorForSeq2Seq

In [22]:
model_name = 'facebook/bart-base'
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSeq2SeqLM.from_pretrained(model_name)

In [20]:
max_input_len = 512
max_target_len = 90

In [23]:
datacollator = DataCollatorForSeq2Seq(tokenizer, model = model)

In [24]:
def preprocessor(data) : 
    model_inputs = tokenizer(
        data['headlines'], max_length = max_input_len, truncation = True
    )

    labels = tokenizer(
        data['text'], max_length = max_target_len, truncation = True
    )

    model_inputs['labels'] = labels['input_ids']

    return model_inputs

In [25]:
train_data = df_train.map(preprocessor, batched = True)

Map: 100%|██████████| 3000/3000 [00:00<00:00, 7138.98 examples/s]

In [26]:
test_data = df_test.map(preprocessor, batched = True)
eval_data = df_eval.map(preprocessor, batched = True)

Map: 100%|██████████| 513/513 [00:00<00:00, 12181.15 examples/s]
Map: 100%|██████████| 1000/1000 [00:00<00:00, 13345.33 examples/s]

### training args and trainer

In [27]:
training_args = TrainingArguments(
    output_dir = './results_4',
    eval_strategy = 'epoch',
    learning_rate = 2e-5,
    per_device_eval_batch_size = 64,
    per_device_train_batch_size = 64,
    weight_decay = 0.01,
    save_total_limit = 2,
    num_train_epochs = 1,
    do_predict = True,
    logging_dir = './logs_4'
)

In [28]:
trainer = Trainer(
    args = training_args,
    model = model,
    tokenizer = tokenizer,
    eval_dataset = eval_data,
    train_dataset = test_data,
    data_collator = datacollator
)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28028\3985623428.py:1: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

In [29]:
trainer.train()

c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\torch\utils\data\dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\transformers\modeling_utils.py:4034: UserWarning: Moving the following attributes in the config to the generation config: {'early_stopping': True, 'num_beams': 4, 'no_repeat_ngram_size': 3, 'forced_bos_token_id': 0}. You are seeing this warning because you've set generation parameters in the model config, as opposed to in the generation config.
  warnings.warn(
c:\Users\lenovo\anaconda3\envs\tfenv\lib\site-packages\torch\utils\data\dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

TrainOutput(global_step=9, training_loss=4.06434800889757, metrics={'train_runtime': 231.1325, 'train_samples_per_second': 2.22, 'train_steps_per_second': 0.039, 'total_flos': 6677328752640.0, 'train_loss': 4.06434800889757, 'epoch': 1.0})

### testing the model on evaluation data

In [32]:
for i in range(0, 5) : 
    sample_text = eval_data['text'][i]
    inputs = tokenizer([sample_text], return_tensors = 'pt', truncation = True, max_length = 512)
    summary_ids = model.generate(inputs["input_ids"], max_length = 20, min_length = 10, length_penalty = 2.0)

    print(f"genertaed summary : {tokenizer.decode(summary_ids[0], skip_special_tokens = True)}")
    print(f"Reference summary : {eval_data['headlines'][i]}")

    print('-'*40)

genertaed summary : The Defence Ministry has scrapped a ?6,500-crore deal to procure 16
Reference summary : Defence Ministry scraps ?6500 crore Navy chopper deal
----------------------------------------
genertaed summary : Delhi University's St Stephen's on Thursday released its first cut-off list,
Reference summary : St Stephen's bar highest for Eng, Eco at 98.5% in 1st list
----------------------------------------
genertaed summary : A man from Tamil Nadu who features in the Limca Book of Records for being the
Reference summary :  Man who lost 150 elections files nomination for Prez poll
----------------------------------------
genertaed summary : A Gurugram man flung his 4-month-old puppy from the first floor
Reference summary : Man throws his pet puppy from balcony for dropping laptop
----------------------------------------
genertaed summary : The Public Works Department of Delhi government has reportedly slapped a fine of ?27 lakh on
Reference summary : AAP fined ?27L for 'unauthorised occupation' of Delhi office
----------------------------------------